<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Navigation -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b1/TT_logo.png/revision/latest?cb=20140308215710" width="90" height="90" alt="">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="">Link</a></li>
        <li><a routerLink="">Link</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="">Action</a></li>
            <li><a routerLink="">Another action</a></li>
            <li><a routerLink="">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="">Separated link</a></li>
          </ul>
        </li>
      </ul>

      <h2 class="text-center"></h2>

      <ul class="nav navbar-nav navbar-right">
        <li class="active rightNav"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
        <li class="rightNav"><a routerLink="/profile-user">Profile</a></li>
        <li class="dropdown rightNav">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="">Action</a></li>
            <li><a routerLink="">Another action</a></li>
            <li  role="separator" class="divider"></li>
            <li  ><a routerLink="/login">Login/Register</a></li>
            <li  role="separator" class="divider"></li>
            <li ><a (click)="logout()">Log Out</a></li>
          </ul>
        </li>
        <li><a class="btn btn-outlined btn-theme btn-lg postBtn" data-wow-delay="0.7s">Post Now</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid --> 
</nav>

  

  