@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #33a0ff;  /* fallback for old browsers */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://static1.squarespace.com/static/538f7733e4b08673a3842c60/t/539ba52ce4b005a2325a9c42/1402709294904/tools_sm.jpg?format=1500w');
    background-size: cover;
    padding: 50px; 
    padding-bottom: 100px;
    /* the padding above is a temporary fix for the background image bug */
    height: 100%;
}

.login-sec{padding: 50px 30px; position:relative; background-color: #fff; max-width: 400px;margin: auto;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: black;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:black; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto;}
.btn-login, .btn-register{background: #33a0ff; color:#fff; font-weight:600;margin: 5px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

.login-content {
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.45); */
    color: #fff;
    font-weight: 20;   
}
