fieldset fieldset {
    margin: 0 70px;
}

fieldset {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    margin-top: 160px;
}

.wrapper {
    text-align: center;
}

#btn {
    width: 10%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
