<div class="userGallery" scrollable (scrollPosition)="scrollHandler($event)">

  <div *ngIf="userPosts?.length > 0; else noPosts">
    <div  *ngFor="let post of userPosts">
      <div class="col-lg-3 col-md-4 col-sm-8">
        <div class="card" style="width:100%; max-width: 300px;">
          <div class="imgPanel">
            <img *ngIf="post.urlArray?.length > 0; else noImg" class="card-img-bottom postImg fillwidth" src="{{post.urlArray[0]}}" alt="Card image" style="width:100%">
            <ng-template #noImg><img class="card-img-bottom postImg fillwidth" src="https://agsci-colostate.nbsstore.net/content/images/thumbs/default-image_450.png" alt="Card image" style="width:100%"></ng-template>
          </div>
          <hr>
          <div class="card-body">
            <h4 class="card-title">{{post.adTitle}}</h4>
            <p class="card-text" style="color: rgb(134, 191, 134)">{{post.price}}</p>
            <a href="#" class="btn btn-primary">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPosts>
    No Postings
  </ng-template>

</div>