<app-header></app-header>
<div class="profile-container">

    <div class="profile-header">
        <img src="https://media.licdn.com/dms/image/C5603AQHPfm1kkxnFAw/profile-displayphoto-shrink_200_200/0?e=1541030400&v=beta&t=vSipwpoKtbNtw4XmY3p2oRFPRGeJaH2zwAjwlsexiRU" class="img-fluid profile-img center-block" alt="Responsive image">
        <div class="profile-info text-center">
            <h2 class="user-name">{{firstName}} {{lastName}}</h2>
            <div class="user-contact row text-center">
                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="bg-primary"><i class="fa fa-map-marker"></i></a>
                        <p class="details">San Francisco, CA 94126</p>
                        
                    </div>
    
                    <div class="col-md-4">
                        <a class="bg-primary"><i class="fa fa-phone"></i></a>
                        <p class="details">123-456-789</p>
                    </div>
    
                    <div class="col-md-4">
                        <a class="bg-primary"><i class="fa fa-envelope"></i></a><br>
                        <div><p class="details">{{email}}</p></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary btn-sm center-block edit-info">Edit <i class="far fa fa-edit"></i></a>
    </div>
    <div class="profile-tabs">
        <main>

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">TOOLS</label>
                
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">POST-A-TOOL</label>
                
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">HISTORY</label>
                
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">RATING</label>
                
            <section id="content1">
                
                <app-user-posts></app-user-posts>
                    
            </section>
                
            <section id="content2">

                <app-post-tool></app-post-tool>

            </section>
                
            <section id="content3">
                <p>
                OTHER1
                </p>
            </section>
            
            <section id="content4">
                <p>
                OTHER2
                </p>
            </section>
                
        </main>
    </div>

</div>