<app-header></app-header>
<div class="profile-container">

    <div class="profile-header">
        <img src="https://media.licdn.com/dms/image/C5603AQHPfm1kkxnFAw/profile-displayphoto-shrink_200_200/0?e=1541030400&v=beta&t=vSipwpoKtbNtw4XmY3p2oRFPRGeJaH2zwAjwlsexiRU" class="img-fluid profile-img center-block" alt="Responsive image">
        <div class="profile-info text-center">
            <h2 class="user-name">RYAN GUNDU</h2>
            <a id="user-phone">123-456-7890</a>
            <a class="text-break">|</a>
            <a id="user-location">1234 Billware Dr</a>
            <a class="text-break">|</a>
            <a id="user-email">ryangundu@hotmail.com</a>
        </div>
        <a href="#" class="btn btn-primary btn-sm center-block edit-info">Edit <i class="far fa fa-edit"></i></a>
    </div>
    <div class="profile-tabs">
        <main>

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">TOOLS</label>
                
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">POST-A-TOOL</label>
                
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3">OTHER</label>
                
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4">OTHER</label>
                
            <section id="content1">
                <p>
                Gallery of tools
                </p>
            </section>
                
            <section id="content2">
                <p>
                post a tool component
                </p>
            </section>
                
                <section id="content3">
                <p>
                OTHER1
                </p>
            </section>
            
                <section id="content4">
                <p>
                OTHER2
                </p>
            </section>
                
        </main>
    </div>

</div>